/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("/Content/fonts/MyriadProRegular/myriad-pro-regular.eot");
    src: url("/Content/fonts/MyriadProRegular/myriad-pro-regular.svg") format("svg"),
    url("/Content/fonts/MyriadProRegular/myriad-pro-regular.ttf") format("truetype"),
    url("/Content/fonts/MyriadProRegular/myriad-pro-regular.woff") format("woff"),
    url("/Content/fonts/MyriadProRegular/myriad-pro-regular.woff2");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBlack"; */
@font-face {
    font-family: "RobotoBlack";
    src: url("/Content/fonts/RobotoBlack/roboto-black.eot");
    src: url("/Content/fonts/RobotoBlack/roboto-black.svg") format("svg"),
    url("/Content/fonts/RobotoBlack/roboto-black.ttf") format("truetype"),
    url("/Content/fonts/RobotoBlack/roboto-black.woff") format("woff"),
    url("/Content/fonts/RobotoBlack/roboto-black.woff2");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "NovecentowideBook"; */
@font-face {
    font-family: "NovecentowideBook";
    src: url("/Content/fonts/NovecentowideBook/novecentowide-book.eot");
    src: url("/Content/fonts/NovecentowideBook/novecentowide-book.svg") format("svg"),
    url("/Content/fonts/NovecentowideBook/novecentowide-book.ttf") format("truetype"),
    url("/Content/fonts/NovecentowideBook/novecentowide-book.woff") format("woff"),
    url("/Content/fonts/NovecentowideBook/novecentowide-book.woff2");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoThin"; */
@font-face {
    font-family: "RobotoThin";
    src: url("/Content/fonts/RobotoThin/roboto-thin.eot");
    src: url("/Content/fonts/RobotoThin/roboto-thin.svg") format("svg"),
    url("/Content/fonts/RobotoThin/roboto-thin.ttf") format("truetype"),
    url("/Content/fonts/RobotoThin/roboto-thin.woff") format("woff"),
    url("/Content/fonts/RobotoThin/roboto-thin.woff2");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("/Content/fonts/RobotoLight/roboto-light.eot");
    src: url("/Content/fonts/RobotoLight/roboto-light.svg") format("svg"),
    url("/Content/fonts/RobotoLight/roboto-light.ttf") format("truetype"),
    url("/Content/fonts/RobotoLight/roboto-light.woff") format("woff"),
    url("/Content/fonts/RobotoLight/roboto-light.woff2");
    font-style: normal;
    font-weight: normal;
}